*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;


}
body{
    background-color: #F5F8FF;
}




.bannerimg{
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh ;

   
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    
}
.text{
    font-size: 34px;
     font-weight: 900;
     color: rgb(78, 71, 255);
}

.text-2{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 37px;
   
}

.action-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 24px;


}

.action-subtitle{
      margin-bottom: 24px;
      color:#25243280;
      font-size: 24px;
font-weight: 400;

}



.btn{
    padding: 16px 30px;
    border-radius: 12px;
    color:white ;
    background-color: rgb(78, 71, 255) ;
    font-size: 16px;
    font-weight: 700;
    
    

}

.btn:hover{
    background-color:yellow;
    color:black;
  
}

.bannertext{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 150px ;
    flex-direction: column;
   
}

.action{
    margin: 100px ;
     display: flex;
      justify-content: space-between;
      align-items: center;

}

.actionimg{
    border-radius: 50px;
}

